# Dev tools, like PhpStorm
.idea

# Environment
.env
docker-compose.proxy.yml
docker-compose.yml

# Local data, like DB or stored files
data/database/*
data/storage/*
application/public/images/
etc/ssl/

# Logs
logs/nginx/
